<!DOCTYPE html>
<html>
  <head>
    <title>CollegeFeed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="app.min.css">
    <style>
      .app-topbar{
        background-color: #33B5E5;
      }
    </style>
  </head>

  <body>
    <div class="app-page" data-page="home">
      <div class="app-topbar">
        <div class="app-title">CollegeFeed</div>
        <div class="app-button right" id="postButton"><%= fa_icon 'pencil-square-o 3x' %></div>
      </div>
      <div class="app-content" id="postContent">
        <ul class="app-section app-list" id="postList">
          <label>Recent Posts</label>
        </ul>
        <div class="app-section" style="display:none;">
          <label id="loadingText">Loading</label>
        </div>
      </div>
    </div>

    <div class="app-page" data-page="page2">
      <div class="app-topbar">
        <div class="app-button left" data-back data-autotitle></div>
        <div class="app-title">Page 2</div>
      </div>
      <div class="app-content">
        Page 2 is lonely
      </div>
    </div>

    <script src="zepto.js"></script>
    <script src="app.min.js"></script>
    <script>

      App.controller('home', function (page) {
        // put stuff here
        $(page).find('#postButton').on('click', function(){
          console.log('asfd');
        });
      });

      App.controller('page2', function (page) {
        // put stuff here
      });
      
      App.populator('home', function (page) {
        var pageNum = 0;
        App.infiniteScroll($(page).find('#postList'), {loading: $(page).find('#loadingText')}, function (next) {
          pageNum++;
          $.getJSON('api/v1/posts?page='+pageNum+'&per_page=1',function(data){
            console.log(pageNum);
            // dynamically fetch data
            // add html elements to list
            var list = [];
            data.forEach(function(p){
              list.push($("<li><div>" + p.text + "</div></li>"));
            });
            next(list);
          });
        });
      });
      

      try {
        App.restore();
      } catch (err) {
        App.load('home');
      }
    </script>
  </body>
</html>
