<div ng-controller="CollegeSectionController">
  <accordion-group>
    <accordion-heading>
      Posts
      <%= fa_icon 'plus', class: 'pull-right tip', 
        'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 
        title: 'add post', 'hasTooltip' => '', 'ng-click' => 'openCreateModal($event)' %>
    </accordion-heading>

    <form class="" role="search" ng-submit="">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="postOptions.searchText" ng-change="updateTotalAndPopulate()">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default" ng>
              <%= fa_icon 'search' %>
            </button>
          </div>
        </div>
      </div>
    </form>

    <alert ng-show="postOptions.error" type="danger">Error in query.</alert>
    <accordion close-others="oneAtATime">
      <accordion-group ng-repeat="post in postOptions.posts" ng-mouseenter="post.isOpen = true" ng-mouseleave="post.isOpen = false" is-open="post.isOpen">
        <accordion-heading>
          {{post.text}}
          <%= fa_icon 'trash-o', class: 'pull-right tip', 
            'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 
            title: 'delete', 'hasTooltip' => '' %>
          <%= fa_icon 'edit', class: 'pull-right tip', 
            'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 
            title: 'edit', 'hasTooltip' => '' %>
        </accordion-heading>
        <div class="row">
          <div class="col-md-3" ng-repeat="(key,value) in post">
            <b>{{key}}:</b> <u class="pull-right">{{value}}</u>
          </div>
        </div>
      </accordion-group>
    </accordion>
    <pagination total-items="postOptions.total" ng-model="postOptions.pageNo" 
        items-per-page="postOptions.perPage"
        max-size="10" class="pagination" boundary-links="true"
        ng-change="populatePosts()"></pagination>
  </accordion-group>
</div>
