<html>
<head>
  <meta name = "viewport" id = "viewpoint_device">
</head>
<body ng-app="cfeed">
<nav class="navbar navbar-default" id="default" role="navigation">
  <div class="absoluteFull" id="navBg" randombgpos>

  </div>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= fa_icon 'mortar-board' %>College<span class="light">Feed</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Control Panel</a></li>
            <li><a href="#">Stat Panel</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>
            Admin<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">My Posts</a></li>
            <li><a href="#">My Comments</a></li>
            <li class="divider"></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="container">
  <h1>Control Panel</h1>

  <div class="col-med-12" ng-controller="SectionController">
    <accordion close-others="oneAtATime">

      <div ng-include ng-repeat="section in sections" src="section.template" is-open="section.isOpen">
      </div>

    </accordion>
  </div>
</div>
</body>
</html>
