<!DOCTYPE html>
<html>
<head>
  <title>TheCampusFeed</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="landing" ng-app="cfeed">
<div class="container-fluid" ng-controller="LandingCtrl">
  <div class="row">
    <div class="section col-md-12" id="title" randombgpos
         ng-class="{'col-md-12': options.post_selected.active == null, 'col-md-6': options.post_selected.active != null}">
      <div class="center">
        <%= image_tag "icon.png", height: 150 %> <br/>
        <%= image_tag "logo.png", height: 150 %>
        <progressbar class="progress-striped active" value="95" type="info" width="300">95% Complete</progressbar>
        <div id="description">
          <span>Launching soon on iOS, Android, and the web.</span><br/>
          <span>Follow us on twitter for updates: <a href="https://twitter.com/the_campus_feed">@The_Campus_Feed</a></span><br/>
        </div>
      </div>
    </div>
</div>

</body>
</html>
