<!DOCTYPE html>
<html>
<head>
  <title>CollegeFeed</title>
  <link rel="stylesheet" href="stylesheets/landing.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
  <style>
  </style>
</head>

<body>
<div class="container-fluid">
  <div class="row">
    <div class="section col-md-6" id="title_bg">
      <div class="center">
      </div>
    </div>

    <div class="section col-md-6" id="title">
      <div class="center">
        <%= fa_icon 'mortar-board' %>
        <span>College</span><span class="light">feed</span>
      </div>
    </div>
  </div>
</div>

</body>
</html>