<!DOCTYPE html>
<html>
<head>
  <title>CollegeFeed</title>
  <link rel="stylesheet" href="stylesheets/landing.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="cfeed">
<div class="container-fluid" ng-controller="LandingCtrl">
  <div class="row">
    <div class="section col-md-9" id="title" randombgpos>
      <div class="center">
        <%= fa_icon 'mortar-board' %>
        <span >College</span><span class="light">feed</span>
      </div>
    </div>

    <div class="section col-md-3" id="cards">
      <div>
        <div class="card card-mini slide" ng-repeat="post in recentPosts" >
          <h3>{{post.text}}</h3>
          <hr/>
          <small class="pull-left"><i collegenamefromid cid="{{post.college_id}}"></i></small>
          <small class="pull-right">{{post.comment_count}} Comments</small>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>