html,body, div.container-fluid, div.row{
    height:100%;
}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: black;
}

div.section {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    height:100%;
}

span.light{
    font-weight: 100;
}

div.center{
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    color: #222222;
}

div#title{
    -webkit-box-shadow: 0px 12px 39px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 12px 39px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 12px 39px 0px rgba(0,0,0,0.75);
    z-index: 1;
    background-image: url('/images/congruent_pentagon.png');
    opacity: 0.4;
}


div#cards{
    overflow:hidden;
}

div#comments{
    overflow:scroll;
}

div#comments{
    background-color: rgba(255,255,255,0.25);
}

.card-mini{
    margin: 20px 30px;
    padding: 6px 8px;
    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 20px;
}
.card-mini.active{
    margin-right: 0;
}

.card-mini h3{
    margin: 0;
}

.card-comment{
    margin: 0;
}



.pointer{
    cursor: pointer;
}

hr{
    margin: 4px 2px;
    border-top: 1px solid #CDCDCD;
}

.col-md-0{
    width: 0;
    margin-left: 0;
}

.row > div {
    /*-webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;*/
}

.slide.ng-enter{
    -webkit-transition:0.3s ease-out all;
    transition:0.3s ease-out all;
}

.slide.ng-leave{
    -webkit-transition:0.5s ease-out all;
    transition:0.5s ease-out all;
}

.slide.ng-enter { margin-left: 50px; opacity: 0; }        /* starting animations for enter */
.slide.ng-enter-active { margin-left:30px; opacity: 1; } /* terminal animations for enter */
.slide.ng-leave { position:relative; left: 0px; opacity: 1; max-height: 300px; overflow:hidden;}        /* starting animations for leave */
.slide.ng-leave-active { left: 150px; opacity: 0; max-height: 0px; padding: 0; margin: 0 30px;} /* terminal animations for leave */

.slide.ng-enter-stagger {
    /* this will have a 100ms delay between each successive leave animation */
    -webkit-transition-delay: 0.175s;
    transition-delay: 0.175s;

    /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}