body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: black;
    background-attachment: fixed;
    padding-top: 70px;
}

.fixed-column{
    position: relative;
}

.fixed-well{
    position: fixed;
    padding: 0;
    width: inherit;
}


