/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */

@import "bootstrap";

/* Fix links */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Change Colors */

nav.navbar{
  background-color: #33B5E5;
}

.navbar-default .navbar-nav > li > a{
  color: #EDEDED
}

.navbar-default .navbar-brand{
  color: #EFEFEF
}

/* Change Animations */

.collapsing {
    -webkit-transition: none;
    transition: none;
}

.panel-group > div {
  margin-bottom: 15px;
}

div.panel-collapse input{
  width: 100%;
}

/*
div.col-md-3{
  clear:both;
}

div.col-md-3 > input{
  float:right;
}*/
