/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */
@import "bootstrap";
@import url(//fonts.googleapis.com/css?family=Lato:300,400);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/* Fix links */

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

/* Change Colors */
/* Change Animations */

.collapsing {
  -webkit-transition: none;
  transition: none;
}

.panel-group > div {
  margin-bottom: 15px;
}

div.panel-collapse input {
  width: 100%;
}

/* Extra Small devices (mobiles, 320px and up) */
/*@media (min-width: 320px) and (max-width: 767px) {
  .section#title {
    font-size: 30pt;
    height: 100%;
    padding-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section#title {
    font-size: 50pt;
    height: 100%;
    padding-top: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section#title {
    height: 100%;
    padding-top: 20%;
    background-attachment: fixed;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .section#title {
    height: 100%;
    padding-top: 20%;
  }
}*/
/*
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Skeleton'), local('Lato-Skeleton'), font-url('Lato100.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), font-url('Lato300.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), font-url('Lato400.woff') format('woff');
}*/

body {
  font-family: Lato !important;
  background-image: image-url('textured_paper.png');
}

nav#default {
  background-color: #0078A5;
  border: 0;
  a.navbar-brand {
    color: #EEE;

    font-size: 30px;
    font-weight: 400;
    padding: 10px 15px;
    .light {
      font-weight: 300;
    }
    &:hover {
      color: #555555;
    }
    i {
      margin-right: 10px;
    }
  }

  ul.nav > li {
    background-color: rgba(0, 0, 0, .2);
    &:hover {
      background-color: rgba(255, 255, 255, .4);
      a {
        color: #232323;
      }
    }
    &.active {
      a {
        color: #232323;
      }
    }

    a {
      color: #EFEFEF;
    }
  }

  > .container-fluid {
    position: relative;
    z-index: 100;
  }
  .absoluteFull {
    opacity: .4;
    background-image: image-url('congruent_pentagon.png');
    z-index: 1;
  }

}

hr {
  color: #222222;
}

.absoluteFull {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
