// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.card{
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  padding: 20px;
  background-color: #EEE;
  .comment{
    padding: 20px 100px;
    border-top: 1px solid lightgray;
  }
  margin-bottom: 100px;
  word-wrap: break-word;
}

