body.webapp{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: black;
    background-attachment: fixed;
    padding-top: 70px;

  .fixed-column{
      position: relative;
  }

  .fixed-well{
      position: fixed;
      padding: 0;
      width: inherit;
  }

  div.well.affix > div > div {
      max-width: 100%;
      word-wrap: break-word;
  }

  .tag-container{
    max-width: 200px;
  }

  div.sidebar{
    width: 200px;
    position: relative;
    float: left;
  }

}

