body.webapp{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: black;
    background-attachment: fixed;
    padding-top: 70px;

  .fixed-column{
      position: relative;
  }

  .fixed-well{
      position: fixed;
      padding: 0;
      width: inherit;
  }

  div.card-content > div > div.comment{
      padding: 8px 10px !important;
  }

  div.well.affix > div > div {
      max-width: 100%;
      word-wrap: break-word;
  }

  .tag-container{
    max-width: 200px;
  }

}

